# Ignore node_modules directory
node_modules
.next
# Ignore npm debug log
npm-debug.log

# Ignore yarn debug log
yarn-debug.log

# Ignore yarn error log
yarn-error.log

# Ignore .env file (contains sensitive information)
.env

# Ignore TypeScript build output
dist